node_modules
apps/api/node_modules
apps/web/node_modules
apps/worker/node_modules
packages/script/node_modules
packages/db/node_modules
packages/shared/node_modules

dockerfile
.dockerignore
.git
.gitignore
.vscode
.idea
*.swp
*.swo
*.zip
*.tar
*.tgz
*.tsbuildinfo
