NODE_ENV=""
PORT=8000
DATABASE_URL=""
JWT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
FRONTEND_URL=""
BACKEND_URL=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""
CRON_SECRET=""
RESEND_API_KEY=""
